@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#container {
  box-shadow: 0 0 10px #000a;
}

svg {
  outline: 1px solid #aaa;
}

svg path {
  fill: #272b36;
  stroke: #3da1ff;
  stroke-width: 4px;
  stroke-linejoin: round;
  stroke-linecap: round;
}